*
!.gitignore
!.gitattributes
!generate_runtime_list.py
!libsb2cpp/
!libsb2cpp/*.cc
!libsb2cpp/*.hpp
!stdlib/
!stdlib/*.hpp
!stdlib/*.cc
stdlib/Runtime_generated_.cc
!tests/
!tests/*.cc
!main.cc
!CMakeLists.txt
!stdlib/SDL2_gfx
!stdlib/SDL2_gfx/*.h
!stdlib/SDL2_gfx/*.c
!README.md