*
!src/
!src/sb2cpp/
!src/sb2cpp/*.cpp
!src/sb2cpp/*.hpp
!src/std/
!src/std/**/
!src/std/**/*.hpp
!src/std/**/*.mm
!src/std/**/*.cpp
!src/std/platform/sdl/SDL2_gfx/
!src/std/platform/sdl/SDL2_gfx/*.c
!src/std/platform/sdl/SDL2_gfx/*.h
!.gitignore
!.gitattributes
!README.md
!sb-compile.sh
!Liberation.hpp
!Liberation.AUTHORS.txt
!Liberation.LICENSE.txt
!pack.sh
!Makefile