*
!.gitignore
!.gitattributes
!sb2cpp/
!sb2cpp/*.py
!sb2cpp/libsb2cpp/
!sb2cpp/libsb2cpp/*.cc
!sb2cpp/libsb2cpp/*.hpp
!sb2cpp/stdlib/
!sb2cpp/stdlib/*.hpp
!sb2cpp/stdlib/*.cc
sb2cpp/stdlib/Runtime_generated.cc
!sb2cpp/tests/
!sb2cpp/tests/*.cc
!sb2cpp/main.cc
!sb2cpp/CMakeLists.txt
!sb2cpp/stdlib/SDL2_gfx
!sb2cpp/stdlib/SDL2_gfx/*.h
!sb2cpp/stdlib/SDL2_gfx/*.c
!README.md